* {
  font-family: 
    "Avenir", "Myriad Pro Light", "Nunito", "Oswald", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  padding-top: 30px;
}

footer {
  padding: 3px;
  color: #3d3d3d;
  background-color: #e8e8e8;
  padding-top: 8px;
  padding-bottom: 2px;
  /*position: absolute;*/
  margin-top: 10px;
  /*bottom: 0;*/
  width: 100%;
}

table.footer-table td {
  font-size: 14px;
  font-style: italic;
  vertical-align: middle;
}

.vertical-center {
  /*margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);*/
}

.footer-text {
  font-style: italic;
}

/* See: https://www.tutorialrepublic.com/faq/how-to-create-a-vertical-line-in-html.php */
.vertical-line {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 30px;
}

a, a:link, a:visited {
  color: #3d3d3d;
  text-decoration: none;
}

/* See: https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
svg.svg-plot {
  display: block;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

svg.svg-plot:hover {
  box-shadow: 2px 5px 10px rgba(0,0,0,0.3);
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

svg.svg-axis {
  background-color: white;
}

svg.svg-axis path {
  stroke: black;
  stroke-width: 1;
}

.axis-row {
  padding-top: 0!important;
  padding-bottom: 0;
}

table {
  margin: auto;
  border-collapse: collapse;
  white-space: nowrap;
}

table td {
  font-size: 20px;
  padding: 5px;
}

td.padded {
  padding: 10px;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.equation {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.optimum:hover {
  r: 8;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.smooth {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.extra-thin {
  stroke-width: 2px;
}

.thin {
  stroke-width: 3px;
}

.thick {
  stroke-width: 5px;
  fill: black;
}

.optimum-line {
  stroke: black;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-dasharray: 1,5;
}

.slider-heading {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.sliders {
  padding: 40px;
}

.slider:hover {
  opacity: 1;
}

.slider {
  -webkit-appearance: none;
  width: 400px;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Chrome, Opera, Safari, Edge */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #1f77b4;
  opacity: 1;
  cursor: pointer;
}

/* Firefox */
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1f77b4;
  opacity: 1;
  cursor: pointer;
}

/* See: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip */
.hasTooltip {
  position: relative;
  display: inline-block;
}

.hasTooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  margin-left: -40px;
  left: 50%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 16px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  opacity: 0;
  transition: opacity 0.3s;
}

.hasTooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.hasTooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.bubble {
  font-size: 16px!important;
  background: #555;
  color: white;
  padding: 4px 12px;
  border-radius: 16px;
  position: relative;
  /*left: -500px;*/
  /*transform: translate(-50%, -30px);*/
}
